{% extends 'base.html' %}

{% block conteudo %}
    <h1>Lista de Produtos</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Categoria</th>
        </tr>
        </thead>
        <tbody>
        {% for item1, item2 in cavalo %}
            <tr>
                <td>{{ item1.id_produto }}</td>
                <td>{{ item1.nome_produto }}</td>
                <td>{{ item1.preco_produto }}</td>
                <td>{{ item2.nome_categoria }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Botões de navegação -->
    <div class="pagination">
        {% if pagina_atual > 1 %}
            <a href="{{ url_for('produto', pagina=pagina_atual - 1) }}">Página Anterior</a>
        {% endif %}
        {% if pagina_atual < total_paginas %}
            <a href="{{ url_for('produto', pagina=pagina_atual + 1) }}">Próxima Página</a>
        {% endif %}
    </div>

{% endblock conteudo %}

